a {
  color: #000000;
  text-decoration: none;
  font-size: .75em;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.user-list, .post-list {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-item {
  display: flex; 
  background-color: #ffffff; 
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 20px 11px rgba(0,0,0,0.08);
  -moz-box-shadow: 2px 2px 20px 11px rgba(0,0,0,0.08);
  box-shadow: 2px 2px 20px 11px rgba(0,0,0,0.08);
  width: auto;
  padding: 1em 2em 1em 0;
  margin: 0 0 2em 0;
}

.post-item {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 20px 11px rgba(0,0,0,0.08);
  -moz-box-shadow: 2px 2px 20px 11px rgba(0,0,0,0.08);
  box-shadow: 2px 2px 20px 11px rgba(0,0,0,0.08);
  max-width: 640px;
  padding: 1em 0;
  margin: 1em;
}

.user-item img {
  min-width: 80px; 
  max-width: 70%; 
  border-radius: 50%;
}

.user-item p {
  margin: 0 0 1em 0;
}

.post-item img {
  max-width: 100%;
}

.post-item p {
  margin: 1em;
}

.btn, button, input[type=submit] {
  width: auto;
  height: auto;
  background: #dfe6e9;
  border-radius: 40px;
  padding: 10px 20px;
  margin: 0 .5em .3em .5em;
  transition: .3s linear;
  border: none;
  font-size: .75em;
}

button:hover, input[type=submit]:hover{
  transform: scale(1.1);
}

input[type="color" i] {
  margin: 1em;
  width: 20%;
  height: 3em;
}

.footer {
  width: auto;
  height: 3em;
  background-color: gainsboro;
  padding: 2em 1em 0 1em;
  margin: 2em 0 0 0;
  text-align: center;
}